.FormGroup {
  min-width: 1ch;
}

.FormControl {
  appearance: none;
  background: none;
  font-size: inherit;
  font-weight: 300;
  padding: 0 0 10px;
  border: none;
  border-bottom: 2px solid transparent;
  display: inline-block;
  text-align: right;
  cursor: text;
  width: 100%;
  color: inherit;
}

.FormControl:focus,
.FormControl:hover {
  border-color: teal;
  outline: none;
}
