.FormGroup {
  display: inline-flex;
  align-items: baseline;
  font-size: 60px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

.FormOutput {
  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  padding-bottom: 5px;
}
