.FormWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-flow: column;
  }
}

.FormControl {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

.FormOutput {
  font-weight: 500;
  font-size: inherit;
  padding-bottom: 5px;
}

.FormGroup {
  display: inline-flex;
  align-items: baseline;
  font-size: 60px;

  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

.Arrow {
  margin: 20px;
}
