.FormWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.FormControl {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

.FormOutput {
  font-weight: 300;
  font-size: inherit;
  padding-bottom: 5px;
}

.FormGroup {
  display: inline-flex;
  align-items: baseline;
  font-size: 60px;
}

.FormGroup + .FormGroup::before {
  content: '=';
  vertical-align: middle;
  align-self: center;
  font-size: 40px;
  margin: 0 25px;
}
